{% extends "base_site.html" %}

{% block content %}
    <h2>{{ customer }}</h2>

        {% if object_list %}
        <div style="height: 300px;overflow: auto">
            <table id="quiz_table" class="table table-sorted">
                <thead>
                <tr>
                    <th><span>product</span></th>
                    <th><span>timestamp</span></th>
                </tr>
                </thead>
                <tbody>
                    {% for purchase in page_obj %}
                    <tr>
                        <td>{{ purchase.product.code }}</td>
                        <td>{{ purchase.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No purchases are available.</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}