{% extends "base_site.html" %}

{% block content %}
    <h2>Purchase History</h2>
    {% if object_list %}
            <table class="table table-sorted table-condensed">
                <thead>
                <tr>
                    <th><span>customer</span></th>
                    <th><span>product</span></th>
                    <th><span>timestamp</span></th>
                </tr>
                </thead>
                <tbody>
                    {% for purchase in object_list %}
                    <tr>
                        <td><a href="{% url 'customer-detail' purchase.customer.id %}">{{ purchase.customer }}</a></td>
                        <td>{{ purchase.product.name }}</td>
                        <td>{{ purchase.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% else %}
        <p>No purchases are available.</p>
    {% endif %}


{% endblock %}